extends layout

block content
    .page
        .pageHeading
            span.heading doughnut
            span.subheading
                a(href="calendar").link #{pageData.dDate}
                    span.glyphicon.glyphicon-chevron-right
        .pageContent
            canvas#canvas(height="500px", width="500px")
            table.table.table-condensed.table-striped#doughnutTable
                tr
                    td
                        .color(style='background-color: #F7464A;')
                    td.percent #{pageData.exercisePercent}%
                    td.category Exercise
                    td.category.Ta-start
                        a(href="details/exercise").link
                            span.glyphicon.glyphicon-list.iconLink
                tr
                    td
                        .color(style='background-color: #46BFBD;')
                    td.percent #{pageData.workPercent}%
                    td.category Work
                    td.category.Ta-start
                        a(href="details/work").link
                            span.glyphicon.glyphicon-list.iconLink
                tr
                    td
                        .color(style='background-color: #FDB45C;')
                    td.percent #{pageData.entertainmentPercent}%
                    td.category Entertainment
                    td.category.Ta-start
                        a(href="details/entertainment").link
                            span.glyphicon.glyphicon-list.iconLink
                tr
                    td
                        .color(style='background-color: #949FB1;')
                    td.percent #{pageData.schoolPercent}%
                    td.category School
                    td.category.Ta-start
                        a(href="details/school").link
                            span.glyphicon.glyphicon-list.iconLink
                tr
                    td
                        .color(style='background-color: #6495ED;')
                    td.percent #{pageData.socialPercent}%
                    td.category Social
                    td.category.Ta-start
                        a(href="details/social").link
                            span.glyphicon.glyphicon-list.iconLink
                tr
                    td
                        .color(style='background-color: #4D5360;')
                    td.percent #{pageData.errandsPercent}%
                    td.category Errands
                    td.category.Ta-start
                        a(href="details/errands").link
                            span.glyphicon.glyphicon-list.iconLink        
                tr
                    td
                        .color(style='background-color: #7CCD7C;')
                    td.percent #{pageData.familyPercent}%
                    td.category Family
                    td.category.Ta-start
                        a(href="details/family").link
                            span.glyphicon.glyphicon-list.iconLink        
                tr
                    td
                        .color(style='background-color: #7171C6;')
                    td.percent #{pageData.otherPercent}%
                    td.category Other
                    td.category.Ta-start
                        a(href="details/other").link
                            span.glyphicon.glyphicon-list.iconLink        




    script.
        var doughnutData = [
                {
                    value: #{pageData.exerciseGraph},
                    color:"#F7464A"
                },
                {
                    value : #{pageData.workGraph},
                    color : "#46BFBD"
                },
                {
                    value : #{pageData.entertainmentGraph},
                    color : "#FDB45C"
                },
                {
                    value : #{pageData.schoolGraph},
                    color : "#949FB1"
                },
                {
                    value : #{pageData.socialGraph},
                    color : "#6495ED"
                },
                {
                    value : #{pageData.errandsGraph},
                    color : "#4D5360"
                },
                {
                    value : #{pageData.familyGraph},
                    color : "#7CCD7C"
                },
                {
                    value : #{pageData.otherGraph},
                    color : "#7171C6"
                }
            
            ];

        var myDoughnut = new Chart(document.getElementById("canvas").getContext("2d")).Doughnut(doughnutData);

        var canvas = document.querySelector('canvas');
        var ctx = canvas.getContext('2d');

        function resize() {
            // Our canvas must cover full height of screen
            // regardless of the resolution
            var width = window.innerWidth - 50;
            
            // So we need to calculate the proper scaled width
            // that should work well with every resolution
            var ratio = canvas.height/canvas.width;
            var height = width * ratio;

            if (width > 500 || height > 500) {
                width = 500;
                height = 500;
            }
            
            canvas.style.width = width+'px';
            canvas.style.height = height+'px';
        }

        window.addEventListener('load', resize, false);
        window.addEventListener('resize', resize, false);