doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(type="text/javascript", src="/js/jquery-2.1.0.min.js")
    script(type="text/javascript", src="/js/bootstrap.min.js")
    script(type="text/javascript", src="/js/Chart.js")
    script(type="text/javascript", src="/js/analytics.js")
    script(type="text/javascript", src="/js/jquery.cookie.js")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=0.7, maximum-scale=5.0, minimal-ui=undefined, minimum-scale=1.0' )
    script.
        (function(document,navigator,standalone) {
            // prevents links from apps from oppening in mobile safari
            // this javascript must be the first script in your <head>
            if ((standalone in navigator) && navigator[standalone]) {
                var curnode, location=document.location, stop=/^(a|html)$/i;
                document.addEventListener('click', function(e) {
                    curnode=e.target;
                    while (!(stop).test(curnode.nodeName)) {
                        curnode=curnode.parentNode;
                    }
                    // Condidions to do this only on links to your own app
                    // if you want all links, use if('href' in curnode) instead.
                    if('href' in curnode && ( curnode.href.indexOf('http') || ~curnode.href.indexOf(location.host) ) ) {
                        e.preventDefault();
                        location.href = curnode.href;
                    }
                },false);
            }
        })(document,window.navigator,'standalone');
  body
    nav.navbar.navbar-default.navbar-static-top(role="navigation")
        .container-fluid
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-area")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                .navTitle 
                    a(href="/home").link balancr
            .collapse.navbar-collapse(id="navbar-collapse-area")
                ul.nav.navbar-nav
                    li#workplay
                        a(href="/workplay") work/play
                    li#doughnut
                        a(href="/categories") categories
                    li#add
                        a(href="/add") add activity
                    li#history
                        a(href="/details/category/all") history
                    li#statistics
                        a(href="/statistics") statistics
                    li#settings
                        a(href="/settings") settings
                    li#signout
                        a(href="/logout") sign out
    block content


    script.
        $(function() {
            var pathname = document.location.pathname.split('/')[1];
            $('#' + pathname).addClass('active');
        });